


  .header-nav .cart-actions.cart-offcanvas .dropdown-box {
    position: fixed;
    top: 0;
    right: -45rem;
    max-width: 34rem;
    margin-top: 0;
    padding: 2.4rem 2rem 2rem;
    width: 100%;
    height: 110vh;
    min-width: auto;
    padding: 2.9rem 3rem;
    opacity: 1;
    visibility: visible;
    -webkit-transition: right 0.3s;
    transition: right 0.3s;
    -webkit-transform: none;
    transform: none;
    z-index: 2499;
    -webkit-box-shadow: none;
    box-shadow: none;
  }



  body .cart-actions .cart-toggle {
    padding: 0;
  }

  body .cart-actions .cart-toggle i {
    font-size: 2.7rem;
    color: inherit;
    color: #4C4C4C;
  }



  body .cart-actions .cart-toggle .cart-label {
    margin-top: .3rem;
    color: inherit;
    cursor: pointer;
    font-weight: inherit;
    font-size: 13px;
    line-height: normal;
    display: block;
  }

  body .cart-dropdown .cart-toggle:hover .cart-label{
    color: #007bff;
  }

  body .cart-dropdown .cart-toggle::after {
    content: none;
  }



  .header-nav .cart-actions {
    position: relative;
  }

  .header-nav .cart-actions a {
    color: #4C4C4C;
    font-size: 12px;
    line-height: 12px;
  }


  .header-nav .cart-actions .cart-count {
    position: absolute;
    width: 1.9rem;
    height: 1.9rem;
    border-radius: 50%;
    font-style: normal;
    z-index: 1;
    right: -8px;
    top: -5px;
    font-family: 'Barlow', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.8rem;
    background: #90bb13;
    color: #fff;
    text-align: center;
  }


  .thumbnail-container  .product-action-vertical {
    position: absolute;
    top: 5px;
    right: 1.5rem;
    -webkit-transition: opacity 0.3s, visibility 0.3s;
    transition: opacity 0.3s, visibility 0.3s;
  }




  .page-order form .form-label {
    margin-bottom: .5rem;
    font-weight: 600;
    color: #4C4C4C;
    font-size: 13px;
  }