.wrapper {
    background: #000000 no-repeat;
}

.megaofertas {
    justify-content: center;
    background: #000000 no-repeat;
    align-items: center;
    display: flex;
}

.megaofertas .container .container-welcome {
    margin-bottom: 15px;
    margin-top: -20px;
}

.megaofertas .container .container-welcome img {
    width: 100%;
    height: auto;
}

.megaofertas .container .container-items {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    margin-top: 20px;
    margin-left: 20px;
}

.megaofertas .container .container-items .item {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    justify-content: center;
    padding-bottom: 30px;
}

.megaofertas .container .container-items .icono_deporte {
    fill: #F80240;
    color: #F80240;
    width: 70px;
    height: auto;
    margin-bottom:20px;
}

.megaofertas .container .container-items .icono_deporte:hover {
    fill: #FFF;
    color: #FFF;
    width: 70px;
    height: auto;
}


.megaofertas .container .container-items .item .title {
    font-size: 13px;
    width: 100%;
    color: #F23149;
    font-weight: 900;
    text-align: center;
    letter-spacing: 0;
    margin-bottom: -1px;
}

/* Para el título */
.megaofertas .container .container-items .icono_deporte:hover .title {
    color: #FFF; /* Cambia el color del título */
}

.megaofertas .container .container-items .item .description {
    font-size: 16px;
    width: 100%;
    color: #fff;
    font-weight: 900;
    position: absolute;
    top: 100px;
}

/* Para el título */
.megaofertas .container .container-items .icono_deporte:hover .description {
    color: #F23149; /* Cambia el color del título */
}


.megaofertas .container .container-items .item img {
    width: 100%;
    height: auto;
    max-width: 100px;
}


.megaofertas .container p {
    display: block;
    margin-bottom: 14px;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
    color: #fff;
}

.megaofertas .container {
    text-align: center;
    margin: 20px 0;
}

.megaofertas .container .message {
    text-align: center;
    margin: 20px;
}

.megaofertas .container .container-btn {
    margin-bottom: 40px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.megaofertas .container .container-btn .btn {
    border: 1px solid #fff;
    font-size: 14px;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    background: #fff;
    padding: 5px 25px;
    border-radius: 4px;
}

@media (min-width: 992px) {
    .megaofertas .container .message {
        text-align: left;
        margin: 20px 10px;
    }

    .megaofertas .container .container-items .icono_deporte {
        margin-bottom: unset;
    }
}