.wrapper {
    background: #EE2500 no-repeat;
}


.outlet {
    justify-content: center;
    background: #EE2500 no-repeat;
    align-items: center;
    display: flex;
}

.outlet .container .container-welcome {
    margin-top: -20px;
}

.outlet .container .container-welcome img {
    width: 100%;
    height: auto;
}

.outlet .container .container-items {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
}


.outlet .container .container-items .icono_deporte {
    fill: #FFFFFF;
    color: #FFFFFF;
    width: 70px;
    height: auto;
}

.outlet .container .container-items .icono_deporte:hover {
    fill: #EFD200;
    color: #EFD200;
    width: 70px;
    height: auto;
}



.outlet .container .container-items .item {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    justify-content: center;
}


.outlet .container .container-items .item .title {
    font-size: 16px;
    width: 100%;
    color: #FFFFFF;
    font-weight: 900;
    letter-spacing: 0.15px;
    line-height: 1;
    text-align: center;
    opacity: 1;
}

.outlet .container .container-items .item .title:hover {
    font-size: 16px;
    width: 100%;
    color: #EFD200;
    font-weight: 900;
    letter-spacing: 0.15px;
    line-height: 1;
    text-align: center;
    opacity: 1;
}

.outlet .container .container-items .item .description {
    font-size: 16px;
    font-family: Roboto;
    width: 100%;
    color: #FFFFFF;
    font-weight: 900;
    letter-spacing: 0.16px;
}


.outlet .container p {
    display: block;
    margin-bottom: 14px;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22px;
    color: #FFFFFF;
    font-family: Barlow;
}

.outlet .container h1 {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22px;
    color: #FFFFFF;
    font-family: Barlow;
}

.outlet .container h2 {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22px;
    color: #FFFFFF;
    font-family: Barlow;
}

.outlet .container {
    text-align: left;
    margin: 20px 0;
}

.outlet .container .message {
    text-align: left;
    margin: 20px 5px;

    a {
        color: #FFFFFF;
    }
}

.outlet .container .container-btn {
    margin-bottom: 40px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.outlet .container .container-btn .btn {
    border: 1px solid #EE2500;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    background: #EE2500;
    padding: 5px 25px;
    border-radius: 4px;
}


.outlet .container .container-items .col-6 {
   padding: 0 45px;
}

@media (min-width: 992px) {

    .outlet .container .container-items {
        margin-top: 10px;
    }

    /*.outlet .container .container-welcome img {
        margin-top: -20px;
    }*/

    .outlet .container .message {
        text-align: left;
        margin: 20px 10px;
    }

    .outlet .container .container-items .item .title {
        margin-top: 10px;
    }

    .outlet .container .container-items .desktop-hidden {
        display: none;
    }

    .outlet .container .container-items .col-lg-1 {
        margin: 30px;
        padding: 0;
    }

    .outlet .container .row .container-items{
       flex-wrap: unset;
    }

}

