.wrapper {
    background: #000000 no-repeat;
}

.rebajas {
    justify-content: center;
    background: #860302 no-repeat;
    align-items: center;
    display: flex;
}

.rebajas .container .container-welcome {
    margin-bottom: 15px;
    margin-top: -20px;
}

.rebajas .container .container-welcome img {
    width: 100%;
    height: auto;
}

.rebajas .container .container-items {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    margin-left: 35px;
}

.rebajas .container .container-items .item {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    justify-content: center;
    padding-bottom: 30px;
}

.rebajas .container .container-items .icono_deporte {
    fill: #FFF;
    color: #FFF;
    width: 70px;
    height: auto;
    margin-bottom:20px;
}

.rebajas .container .container-items .icono_deporte:hover {
    fill: #FFF;
    color: #FFF;
    width: 70px;
    height: auto;
}


.rebajas .container .container-items .item .title {
    font-size: 10px;
    width: 100%;
    color: #FFF;
    font-weight: 900;
    text-align: center;
    letter-spacing: 0;
    margin-bottom: -1px;
}

/* Para el título */
.rebajas .container .container-items .icono_deporte:hover .title {
    color: #FFF; /* Cambia el color del título */
}

.rebajas .container .container-items .item .description {
    font-size: 16px;
    width: 100%;
    color: #fff;
    font-weight: 900;
    position: absolute;
    top: 90px;
}

/* Para el título */
.rebajas .container .container-items .icono_deporte:hover .description {
    color: #FFF; /* Cambia el color del título */
}


.rebajas .container .container-items .item img {
    width: 100%;
    height: auto;
    max-width: 100px;
}


.rebajas .container {
    text-align: center;
    margin: 20px 0;
}

.rebajas .container .message {
    text-align: left;
    margin: 20px;
}

.rebajas .container .message p {
    display: block;
    margin-bottom: 14px;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22px;
    color: #FFFFFF;
    font-family: Barlow;
}

.rebajas .container .message h1 {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22px;
    color: #FFFFFF;
    font-family: Barlow;
}

.rebajas .container .message h2 {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22px;
    color: #FFFFFF;
    font-family: Barlow;
}

.rebajas .container .container-btn {
    margin-bottom: 40px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.rebajas .container .container-btn .btn {
    border: 1px solid #fff;
    font-size: 14px;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    background: #fff;
    padding: 5px 25px;
    border-radius: 4px;
}

@media (min-width: 992px) {
    .rebajas .container .message {
        text-align: left;
        margin: 20px 10px;
    }

    .rebajas .container .container-items {
        margin-left: 0px;
        margin-top: 20px;
    }

    .rebajas .container .container-items .icono_deporte {
        margin-bottom: unset;
    }

    .rebajas .container .container-items .col-lg-1 {
        max-width: 12.3333%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333%;
        flex: 0 0 12.3333%;
    }
}



