.wrapper {
    background: #EADED1 no-repeat;
}


.special {
    justify-content: center;
    background: #EADED1 no-repeat;
    align-items: center;
    display: flex;
}

.special .container .container-welcome {
    margin-top: -20px;
}

.special .container .container-welcome img {
    width: 100%;
    height: auto;
}

.special .container .container-items {
    display: flex;
    align-items: center;
    justify-content: center;
}


.special .container .container-items .icono_deporte {
    fill: #528065;
    color: #528065;
    width: 70px;
    height: auto;
}

.special .container .container-items .icono_deporte:hover {
    fill: #000000;
    color: #000000;
    width: 70px;
    height: auto;
}

.special .container .container-items .item {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    justify-content: center;
}


.special .container .container-items .item .title {
    font-size: 16px;
    width: 100%;
    color: #528065;
    font-weight: 900;
    letter-spacing: 0.15px;
    line-height: 1;
    text-align: center;
    opacity: 1;
}

.special .container .container-items .item .title:hover {
    font-size: 16px;
    width: 100%;
    color: #000000;
    font-weight: 900;
    letter-spacing: 0.15px;
    line-height: 1;
    text-align: center;
    opacity: 1;
}

.special .container .container-items .item .description {
    font-size: 16px;
    font-family: Roboto;
    width: 100%;
    color: #528065;
    font-weight: 900;
    letter-spacing: 0.16px;
}


.special .container p {
    display: block;
    margin-bottom: 14px;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22px;
    color: #528065;
    font-family: Barlow;
}

.special .container h1 {
    font-weight: 700;
    font-size: 16px !important;
    letter-spacing: 0;
    line-height: 22px !important;
    color: #528065;
    font-family: Barlow;
}

.special .container {
    text-align: left;
    margin: 20px 0;
}

.special .container .message {
    text-align: left;
    margin: 20px 5px;

    a {
        color: #528065;
    }
}

.special .container .container-btn {
    margin-bottom: 40px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.special .container .container-btn .btn {
    border: 1px solid #528065;
    font-size: 14px;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    background: #FFFFFF;
    padding: 5px 25px;
    border-radius: 4px;
}


.special .container .container-items .col-6 {
   padding: 0 45px;
}

@media (min-width: 992px) {

    .special .container .container-items {
        margin-top: -20px;
    }

    .special .container .container-welcome img {
        margin-top: 10px;
    }

    .special .container .message {
        text-align: left;
        margin: 20px 10px;
    }

    .special .container .container-items .item .title {
        margin-top: 10px;
    }

    .special .container .container-items .desktop-hidden {
        display: none;
    }

    .special .container .container-items .col-lg-1 {
        max-width: 12.3333%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333%;
        flex: 0 0 12.3333%;
    }

}






