
.container .stores .clock-event-navidad-sin-iva {
    display: none;
}


.event-navidad-sin-iva .container .stores .panel-title h4 {
    font-size: 18px;
    margin: 0 0 15px;
    color: #90BB13;
    text-align: left
}

.event-navidad-sin-iva .container .stores .store-item {
    margin-top: 20px;
}


.event-navidad-sin-iva .container .stores .clock-event-navidad-sin-iva {
    display: inline;
}


.event-navidad-sin-iva .container .stores .clock-event-navidad-sin-iva .container-btn .btn {
    background-color: #1A5200;
    color: #DFCA8D;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0.3px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 5px;
}

.event-navidad-sin-iva .container .stores .clock-event-navidad-sin-iva .container-btn .btn {
    background-color: #1A5200;
    color: #DFCA8D;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0.3px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 5px;
}

.event-navidad-sin-iva .container .stores .content-block {
    margin-bottom: 20px !important;
}

.event-navidad-sin-iva .container .stores .block_content {
    font-family: 'Barlow', sans-serif !important;
    font-size: 15px;
}

.event-navidad-sin-iva .container .stores .block_content p {
    font-family: 'Barlow', sans-serif !important;
    display: block;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 22px;
}


.event-navidad-sin-iva .container .stores .panel-group .panel-default .panel-title {
    border-top: 1px solid transparent;
    padding: 0;
    margin-bottom: 0;
    font-size: 12px
}

.event-navidad-sin-iva .container .stores .panel-group .panel-default .panel-title .collapsed {
    display: block;
    font-weight: 400
}

.event-navidad-sin-iva .container .stores .panel-default {
    border: 1px solid transparent;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    margin-bottom: 2px;
}

.event-navidad-sin-iva .container .stores .panel-default .panel-title {
    text-transform: none;
    background: #f0f0f0;
    position: relative;
    font-weight: 400
}

.event-navidad-sin-iva .container .stores .panel-default .panel-title a:before {
    background: none;
    content: "arrow_drop_up";
    cursor: pointer;
    display: block;
    font-family: "Material Icons";
    font-size: 25px;
    position: absolute;
    left: auto;
    right: 0;
    top: 0;
    width: auto
}

.event-navidad-sin-iva .container .stores .panel-default .panel-title .collapsed:before {
    background: none;
    content: "arrow_drop_down";
    cursor: pointer;
    display: block;
    font-family: "Material Icons";
    font-size: 25px;
    position: absolute;
    left: auto;
    right: 0;
    top: 0;
    width: auto
}

.event-navidad-sin-iva .container .stores .panel-default .panel-heading {
    background: #f0f0f0;
    border: 1px solid #f0f0f0
}

.event-navidad-sin-iva .container .stores .panel-default > .panel-heading + .panel-collapse .panel-body {
    border: 1px solid #f0f0f0
}

.event-navidad-sin-iva .container .stores .panel-default .panel-title {
    margin: 0;
    height: 30px;
    line-height: 30px;
    padding-left: 15px;
    padding-right: 15px
}

.event-navidad-sin-iva .container .stores .panel-default .panel-title .collapsed:before, .event-navidad-sin-iva .container .stores .panel-default .panel-title a:before {
    right: auto;
    text-transform: none;
    left: 15px;
    transform: rotate(-90deg);
    content: "arrow_drop_down"
}

.event-navidad-sin-iva .container .stores .panel-default .panel-title a {
    text-transform: uppercase;
    font-size: 15px;
    color: #9B9B9B;
    font-weight: 700;
    display: block;
    padding-left: 30px
}

.event-navidad-sin-iva .container .stores .panel-default > .panel-heading + .panel-collapse .panel-body {
    padding: 20px
}

.stores .expand::after, .collapse::after {
    content: "";
}

.event-navidad-sin-iva .container .stores .panel-default .panel-title {
    background: #EAEAEA;
    color: #9B9B9B
}


.event-navidad-sin-iva .container .stores .navidad-modal .modal-dialog {
    max-width: 365px;
}

.event-navidad-sin-iva .container .stores .navidad-modal .modal-content {
    border-radius: 4px;
    height: auto;
    justify-content: center;
    align-items: center;
}

.event-navidad-sin-iva .container .stores .navidad-modal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    color: #FFFFFF;
    font-size: 16px;
}

.event-navidad-sin-iva .container .stores .navidad-modal .modal-header {
    background: transparent;
    border: 0;
    display: flex;
    align-items: flex-end;
    margin-bottom: -20px;
    width: 365px;
}

.event-navidad-sin-iva .container .stores .navidad-modal .modal-body {
    margin: 25px 20px;
}

@media (min-width: 992px) {
    .event-navidad-sin-iva .container .stores .container-btn .btn {
        width: 60%;
    }

    .store-item .horarios-verano {
        width: 60%;
    }
    .store-item .horarios-black {
        width: 60%;
    }

}

.store-item .horarios-verano {
    background-color: #F56316;
    color: #FFFFFF;
    border-radius: 6px;
    padding: 10px 13px;
    margin: 10px 0px;
}

.store-item .horarios-black {
    background-color: #000;
    color: #FFF;
    border-radius: 6px;
    padding: 10px 13px;
    margin: 10px 0px;
}

.store-item .horarios-verano .title-verano {
    font-weight: 900;
    font-size: 15px;
}

.store-item .horarios-verano .texto-verano {
    font-weight: 900;
    font-size: 14px;
}

.store-item .horarios-black .title-black {
    font-weight: 900;
    font-size: 15px;
    color: #FFF735;
}

.store-item .horarios-black .texto-black {
    font-weight: 900;
    font-size: 14px;
}

.store-item .horarios-black .texto-black span {
    color: #FFF735;
}





