
.page-product-custom .page-product-box  {
}

.page-product-custom .page-product-box .component_step {
}

.page-product-custom .page-product-box .component_step h3 {
    display: none;
}

.page-product-custom .page-product-box .component_step .card {
    border-radius: 5px;
    overflow: hidden;
    border-color: transparent !important;
}

.page-product-custom .page-product-box .component_step .card .card-header {
    border-color: transparent !important;
    background-color: transparent !important;
}

.page-product-custom .page-product-box .component_step .card .card-header h5 a {
    color: #000 !important;
    width: 100%;
    padding: 10px;
    text-align: left;
    font-size: 16px;
}


.page-product-custom .page-product-box .component_step .add-cart-product {
    font-size: 22px;
    width: 100%;
    line-height: 1;
    font-weight: 600;
    background: #FF662E;
    border-color: #FF662E;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    padding: 8px 10px 5px 10px;
    cursor: pointer;
    display: flex;
    height: auto;
    white-space: nowrap;
}

.page-product-custom .page-product-box .component_step .add-cart-product i {
    line-height: 1;
    margin-right: 6px;
    display: inline-block;
    font-weight: 600;
}

.page-product-custom .page-product-box .component_step #submit_idxrcustomproduct {
    display: inline !important;
}

.page-product-custom .page-product-box .component_step .alert-warning {
    background-color: #ff662e24;
    border-color: #FF662E;
    color: #FF662E;
    padding: 10px !important;
}

.page-product-custom .page-product-box .component_step  .card.js-card-option .check-symbol {
    height: 24px;
    margin: 10px 0px;
}

.page-product-custom .page-product-box .component_step .card.js-card-option  .option_titles {
    font-size: 16px !important;
    height: 30px !important;
    line-height: 14px !important;
    margin-top: 10px !important;
    padding-top: 5px;
    border-top: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
    text-align: center;
}

.page-product-custom .page-product-box .component_step .card.js-card-option {
    padding: 0px !important;
    border-radius: 5px;
    overflow: hidden;
}



.page-product-custom .page-product-box .component_step .step_content .card-block .option_div:not(:last-child) {
    margin-right: 5px;
}
@media (min-width: 992px) {
    .page-product-custom .page-product-box .component_step .step_content .card-block .col-lg-3 {
        max-width: 24%;
    }
    .page-product-custom .page-product-box .component_step .step_content .card-block .col-lg-4 {
        max-width: 32%;
    }
}





 .page-product-custom .modal .form-check .check {
    justify-content: left!important;
    display: flex
}

 .page-product-custom .modal .form-check .check .form-check-input {
    display: block;
    background-color: var(--bs-form-check-bg);
    background-image: var(--bs-form-check-bg-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1.25px solid #dfe5ef;
    appearance: none;
    padding: 0;
    position: inherit;
    margin-top: 0;
    margin-left: 0;
    box-sizing: border-box;
     width: 20px;
    height: 20px;
}

 .page-product-custom .modal .form-check .check .form-check-input[type=radio] {
    border-radius: 50%
}

 .page-product-custom .modal .form-check .check .form-check-input:active {
    filter: brightness(90%)
}

 .page-product-custom .modal .form-check .check .form-check-input:focus {
    border-color: #dfe5ef;
    outline: 0
}

 .page-product-custom .modal .form-check .check .form-check-input:checked {
    background-color: #90ba2f;
    border-color: #90ba2f
}

 .page-product-custom .modal .form-check .check .form-check-input:disabled {
    pointer-events: none;
    filter: none;
    opacity: .5
}



 .page-product-custom .modal .form-check .check  input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent
}

 .page-product-custom .modal .form-check .check  input[type="date"]:focus::-webkit-calendar-picker-indicator {
    background: transparent
}

 .page-product-custom .modal .form-check .check  input[type="date"]::-webkit-inner-spin-button, .page-product-custom .modal .form-check .check  input[type="date"]::-webkit-clear-button {
    display: none
}

.page-product-custom .modal .form-check .check .form-check-input:checked[type=checkbox] {
    border-radius: 3px;
    --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
    height: 20px;
    min-width: 20px;
}

.page-product-custom .modal .form-check .check .form-check-input:checked[type=radio] {
    --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
    width: 20px
}

.page-product-custom .modal .form-check .check .form-check-input[type=checkbox]:indeterminate {
    background-color: #081A28;
    border-color: #081A28;
    --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e")
}

.page-product-custom .modal .form-check .check .form-check-input:disabled~.form-check-label,.form-check-input[disabled]~.form-check-label {
    cursor: default;
    opacity: .5
}

.page-product-custom .modal .form-check .check label.form-check-label {
    display: block;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 15px;
    padding-left: 10px;
    color: #666;
    text-align: left;
    width: 100%;
}

.page-product-custom .modal .form-check .check {
    position: relative;
    display: flex;
    align-items: center;
}


.page-product-custom .modal .alert {
    font-size: 15px;
    letter-spacing: .3px;
    padding: 10px 10px;
}



.page-product-custom .product-price {
    margin: 20px 0 20px
}

.page-product-custom .product-price .price-from {
    font-size: 14px;
    padding-right: 6px;
    padding-top: 15px
}

.page-product-custom .product-price .price-from-resalted {
    font-size: 14px;
    padding-right: 6px;
    padding-top: 15px;
    color: #d6021f
}

.page-product-custom .product-price .product-price.has-discount .current-price-value {
    color: #585858;
    letter-spacing: -1px
}

.page-product-custom .product-price .current-price {
    display: flex;
    flex-wrap: wrap;
    align-items: center
}

.page-product-custom .product-price .product-discount .regular-price {
    text-decoration: line-through;
    font-size: 16px;
    color: #585858;
    font-weight: 700;
    margin-right: 10px;
    margin-left: 10px;
    letter-spacing: -1px
}

.page-product-custom .product-price .has-discount .product-price,.has-discount p {
    color: #f39d72
}

.page-product-custom .product-price .has-discount .discount {
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: 5px;
    border-radius: 4px;
    background-color: #FF662E;
    font-size: 19px;
    font-weight: 700;
    margin: 0;
    letter-spacing: normal;
    padding: 3px 5px;
    line-height: inherit
}

.page-product-custom .product-price .current-price.has-discount {
    font-size: 30px;
    color: #ff2929
}

.page-product-custom .product-price .current-price-value {
    font-size: 30px;
    color: #000;
    font-weight: 700;
    line-height: 1.2
}

.page-product-custom .product-price .tax-shipping-delivery-label {
    font-size: 13px;
    color: #878787
}

.page-product-custom .product-price .product-discount {
    display: inline-block;
    font-size: 16px;
    color: #acaaa6;
    letter-spacing: -1px
}


.page-product-custom .product-price.has-discount .current-price-value {
    color: #585858;
    letter-spacing: -1px;
}

.page-product-custom .product-price .product-discount {
    display: inline-block;
    font-size: 16px;
    color: #acaaa6;
    letter-spacing: -1px;
}

.page-product-custom .product-price .product-discount .regular-price {
    text-decoration: line-through;
    font-size: 16px;
    color: #585858;
    font-weight: 700;
    margin-right: 10px;
    margin-left: 10px;
    letter-spacing: -1px;
}
.page-product-custom .product-price.has-discount .discount {
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: 5px;
    border-radius: 4px;
    background-color: #FF662E;
    font-size: 19px;
    font-weight: 700;
    margin: 0;
    letter-spacing: normal;
    padding: 3px 5px;
    line-height: inherit;
}
