.page-product-fitting {
    width: 100% !important;
    max-width: 100%;
}

.page-product-fitting .card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 4px;
    border: 1px solid #f6f6f6;
    box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, .1);
    padding: 0;
}

.page-product-fitting .card .card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 30px 30px;
}
.page-product-fitting .card .card-body .card-title {
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #4C4C4C;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding-bottom: 5px;

}

.page-product-fitting .card .card-body .card-text {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 14px;
}

.page-product-fitting .card .card-body .btn{
    margin: 10px 0px 0px 0px !important;
    position: inherit;
    padding: 10px 20px;
    border: 0;
    transition: all .2s ease-in-out;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 4px;
}


.page-product-fitting .form .response-output.success {
    background: #90bb1338;
    color: #90BB13;
    border-color: #90bb1338;
    display: block;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 4px;
}

.page-product-fitting .form .response-output.warning {
    background: #be1d2e2e;
    color: #be1d2e !important;
    border-color: #be1d2e;
    display: block;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 4px;
}


.page-product-fitting .form  .g-recaptcha {
    margin-bottom: 5px;
    width: 101%;
    justify-content: left;
    display: flex;
    align-items: left;
}


.page-product-fitting .card .card-body .btn.btn-primary {
    background: #90BB13;
    color: #fff;
    border-color: #90BB13;
    border-radius: 4px;
}

.page-product-fitting .card .card-body .btn.btn-secundary {
    background: #4C4C4C;
    color: #fff;
    border-color: #4C4C4C;
    border-radius: 4px;
}


.page-product-fitting  .page-content {
    margin-bottom: 0px !important;
}

.page-product-fitting .card .card-body .btn.btn-secundary:hover {
    background: #4C4C4C;
    color: #fff;
    border-color: #4C4C4C;
}

.page-product-fitting .card .card-body .btn.w-100 {
    width: 100% !important
}


.page-product-fitting .card .card-body .btn.btn-primary:hover {
    background: #4C4C4C;
    color: #fff;
    border-color: #4C4C4C;
}

.page-product-fitting .card .card-body .btn.btn-dark {
    color: #fff;
    border-color: #4C4C4C;
    background-color: #4C4C4C;
}


.page-product-fitting .card .card-body .btn.btn-dark:hover {
    background: #000;
    color: #fff;
    border-color: #000;
}




.page-product-fitting .imagenes-marcas {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-product-fitting .imagenes-marcas img {
    max-width: 100px;
    padding-left: 5px;
    padding-right: 5px;
}

.page-product-fitting .imagenes-marcas img:first-child {
    padding-left: 0;
}

.page-product-fitting.imagenes-marcas img:last-child {
    padding-right: 0;
}

.page-product-fitting .ticks-fitting {
    border-bottom: solid 1px #D8D8D8;
    border-top: solid 1px #D8D8D8;
    padding-bottom: 25px;
    padding-top: 25px;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.page-product-fitting .ticks-fitting .uno,
.page-product-fitting .ticks-fitting .dos {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 15px;
}

.page-product-fitting .fitting .precio strong {
    font-weight: 700;
}


.page-product-fitting .fitting .description-short {
    font-size: 15px;
    color: #333333;
}
.page-product-fitting .fitting .description-short li {
    position: relative;
    padding-left: 30px;
}

.page-product-fitting .fitting .description-short li:before {
    content: "\f0da";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    left: 15px;
    top: 7px;
    color: #90BB13;
}

.page-product-fitting .fitting .description{
    font-size: 15px;
    color: #333333;
    line-height: 18px;
    margin-top: 50px;
    margin-bottom: 50px;
}


.page-product-fitting .fitting-first{
    padding-right: 20px;
}




.page-product-fitting .img-fitting {
    width: 100%;
}

.page-product-fitting .img-fitting img {
    width: 100%;
    height: auto; /* Para mantener la proporción de la imagen */
    object-fit: cover; /* Opcional: Para ajustar la imagen */
}



.page-product-fitting .alerts {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid #e5e5e570;
}


.page-product-fitting .alerts .form-label {
    margin-bottom: .5rem;
    font-weight: 600;
    color: #4C4C4C
}

.page-product-fitting .alerts .form-control:disabled {
    cursor: not-allowed;
    background-color: #f5f6f8!important
}

.page-product-fitting .alerts .form-control {
    display: block;
    width: 100%;
    padding: 8px 16px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #4C4C4C;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #90bb1347;
    border-radius: 7px;
    box-shadow: var(--bs-box-shadow-inset);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 10px
}

.page-product-fitting .alerts .form-control:focus {
    color: #4C4C4C;
    background-color: transparent;
    border: 1px solid #90bb1347;
    CONTAIN-INTRINSIC-BLOCK-SIZE: AUTO 100PX;
    box-shadow: var(--bs-box-shadow-inset),0 0 0 .25rem rgb(0 0 0 / 25%)
}

.page-product-fitting .alerts .form-control:hover {
    color: #4C4C4C;
    background-color: transparent;
    border: 1px solid #90bb1347;
    CONTAIN-INTRINSIC-BLOCK-SIZE: AUTO 100PX;
    box-shadow: var(--bs-box-shadow-inset),0 0 0 .25rem rgb(0 0 0 / 25%)
}

.page-product-fitting .alerts label.error {
    text-align: right;
    color: #D6021F;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 0;
    border: none;
    height: auto;
    width: 100%;
    display: flex;
    align-items: normal;
    justify-content: left;
    font-size: 12px
}

.page-product-fitting .alerts .form-check .check {
    position: relative;
    display: flex;
    align-items: center
}

.page-product-fitting .alerts {
    margin-bottom: 0;
    margin-top: 0
}

.page-product-fitting .alerts input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1)
}

.page-product-fitting .alerts input[type="date"] {
    font-size: 13px;
    padding: 8px 16px
}

.page-product-fitting .alerts .form-check .check .fixed-size-input {
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle!important
}

.page-product-fitting .alerts .form-check .check .form-check-input {
    display: block;
    background-color: var(--bs-form-check-bg);
    background-image: var(--bs-form-check-bg-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1.25px solid #dfe5ef;
    appearance: none;
    padding: 0;
    position: inherit;
    margin-top: 0;
    margin-left: 0;
    box-sizing: border-box
}

.page-product-fitting .alerts .form-check .check .form-check-input[type=checkbox] {
    border-radius: 3px;
    width: 15px
}

.page-product-fitting .alerts .form-check .check .form-check-input[type=radio] {
    border-radius: 50%
}

.page-product-fitting .alerts .form-check .check .form-check-input:active {
    filter: brightness(90%)
}

.page-product-fitting .alerts .form-check .check .form-check-input:focus {
    border-color: #dfe5ef;
    outline: 0
}

.page-product-fitting .alerts .form-check .check .form-check-input:checked {
    background-color: #90ba2f;
    border-color: #90ba2f;
    width: 15px
}

.page-product-fitting .alerts .form-check .check .form-check-input:disabled {
    pointer-events: none;
    filter: none;
    opacity: .5
}

.page-product-fitting .alerts input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent
}

.page-product-fitting .alerts input[type="date"]:focus::-webkit-calendar-picker-indicator {
    background: transparent
}

.page-product-fitting .alerts input[type="date"]::-webkit-inner-spin-button,.page-product-fitting .alerts input[type="date"]::-webkit-clear-button {
    display: none
}

.page-product-fitting .alerts .form-check .check .form-check-input:checked[type=checkbox] {
    --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e")
}

.page-product-fitting .alerts .form-check .check .form-check-input:checked[type=radio] {
    --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e")
}

.page-product-fitting .alerts .form-check .check .form-check-input[type=checkbox]:indeterminate {
    background-color: #081A28;
    border-color: #081A28;
    --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e")
}

.page-product-fitting .alerts .form-check .check .form-check-input:disabled~.form-check-label,.form-check-input[disabled]~.form-check-label {
    cursor: default;
    opacity: .5
}

.page-product-fitting .alerts .form-check .check .form-check-label {
    display: block;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 15px;
    padding-left: 10px;
    color: #4C4C4C;
    text-align: left;
    font-weight: 400;

}

.page-product-fitting .alerts .form-check .check .form-check-label a {
    color: #90BB13;
    font-weight: 600
}

.page-product-fitting .alerts .form-check {
    align-items: center!important;
    justify-content: space-between!important;
    display: flex;
    justify-content: center;
    align-items: center
}

.page-product-fitting .alerts .form-check {
    align-items: center!important;
    justify-content: space-between!important;
    display: flex;
    margin-bottom: 20px
}

.page-product-fitting .alerts .form-check a {
    color: #90BB13;
    font-weight: 600;
    font-size: 14px
}

.page-product-fitting .alerts .form-check a:hover {
    color: #4C4C4C
}

.page-product-fitting .alerts input:-webkit-autofill,.page-product-fitting .alerts input:-webkit-autofill:hover,.page-product-fitting .alerts input:-webkit-autofill:focus,.page-product-fitting .alerts input:-webkit-autofill:active {
    border-color: #e5e5e5;
    box-shadow: 0 0 0 50px #f6f6f6 inset;
    border: 1px solid #90bb1347
}


.page-product-fitting .alerts button{
    border-radius: 4px;
}


.page-product-fitting .fitting {
}

.page-product-fitting  .fitting  {
    width: 100%;
}

.page-product-fitting .fitting .card-title {
    font-size: 30px;
    line-height: normal;
}

.page-product-fitting  .fitting  {
    margin-bottom: 20px;
    margin-top: 20px;
}

.page-product-fitting  .fitting {
    margin: 0px;
    border: none;
}


.page-product-fitting  .fitting  .control-label {
    width: 100% !important;
    max-width: 100% !important;
    line-height: 45px !important;
    font-size: 15px !important;
    color: #414141 !important;
    font-weight: 500 !important;
    padding: 0px;
    background: transparent;
    text-align: left;
}


.page-product-fitting  .fitting .product-variants {
    margin: 0px;
}

.page-product-fitting  .fitting  .control-label:before {
    display: none !important;
}

.page-product-fitting  .fitting  select {
    display: block;
    width: 100%;
    padding: 8px 16px;
    font-size: 12px;
    height: 40px;
    font-weight: 400;
    line-height: 1.5;
    color: #4C4C4C;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #90bb1347;
    border-radius: 7px;
    box-shadow: var(--bs-box-shadow-inset);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-bottom: 10px;
}

.page-product-fitting  .fitting  select .sinstock {
    color: rgba(69, 69, 69, 0.50) !important;
}

.page-product-fitting  .fitting .js-product-add-to-cart {
    position: relative;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.page-product-fitting  .fitting .js-product-add-to-cart button {
    width: 100%;
    margin-bottom: 0;
    border-radius: 4px;
}

.page-product-fitting  .fitting .js-product-add-to-cart button:hover,
.page-product-fitting  .fitting .js-product-add-to-cart button:active,
.page-product-fitting  .fitting .js-product-add-to-cart button:focus {
    color: #fff;
    border-color: #000;
    background-color: #000;
}

.page-product-fitting p {
    margin-bottom: 10px;
}

.page-product-fitting p .pricing {
    color: #90BB13;
    font-size: 22px;
    font-weight: 600;
    padding-right: 5px;
    padding-left: 5px;
}

.page-product-fitting ul {
    display: block;
    padding-left: 0
}

.page-product-fitting ul li {
    padding-bottom: 10px;
    padding-left: 0;
    display: flex
}

.page-product-fitting ul li::before {
    position: relative;
    left: 0;
    color: #90BB13;
    top: 0;
    content: "\f0da";
    font: normal normal normal 14px / 1 FontAwesome
}

.page-product-fitting ul li p {
    padding: 0 0 0 10px;
    margin: 0;
    font-size: 14px;
    line-height: 16px
}

#add-to-cart-or-refresh {
    scroll-margin-top: 100px; /* Ajusta según la altura del header fijo */
}

@media(max-width: 780px) {


    .page-product-fitting .img-fitting {
        margin-bottom: 10px;
    }

    .page-product-fitting .fitting-first{
        padding-right: 0px;
    }

    .page-product-fitting  .ticks-fitting {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .page-product-fitting  .ticks-fitting .uno,
    .page-product-fitting  .ticks-fitting .dos {
        margin-bottom: 10px;
        width: 100%;
    }

    .page-product-fitting  .variantes-fitting {
        display: block !important;
        width: 100%;
        margin-bottom: 10px;
    }

    .page-product-fitting  .fitting {
        flex-wrap: wrap;
    }

    .page-product-fitting  .fitting .js-product-add-to-cart,
    .page-product-fitting  .variantes-fitting .product-variants-item {
        width: 100%;
        margin-bottom: 10px;
        display: block !important;
    }

    .page-product-fitting  .fitting .product-quantity button {
        position: relative;
        padding: 0;
    }

    .page-product-fitting  .fitting .product-quantity button {
        width: 100%;
        margin-left: 0;
    }

    .page-product-fitting .fitting  .product-variants-item {
        margin: auto;
        border: none;
    }

    .page-product-fitting  .variantes-fitting .product-variants-item .control-label {
        text-align: left;
        padding: 0;
    }

    .page-product-fitting  .variantes-fitting .product-variants-item select {
        text-align: left;
    }

    .page-product-fitting  .fitting .description {
        margin-bottom: 30px;
    }

    .imagenes-marcas .slick-arrows {
        display: none;
    }

    .page-product-fitting  .imagenes-marcas img {
        max-width: 100%;
    }
}
