<% if (fieldType === 'text') { %>
    <div class="">
        <label class="form-label" inline-edit="fieldLabel"<% if (!showLabel) { %> style="display:none" aria-hidden="true"<% } %>><%- fieldLabel %></label><% if (required && requiredIndicator && showLabel) { %><span class="bjs-field-required-indicator" style="display:inline-block;margin-left:7px;color:<%- requiredIndicatorColor %>;"><%- requiredIndicator %></span><% } %>
        <input type="text" name="<%- fieldName %>" value="<%- fieldValue %>" placeholder="<%- fieldPlaceholder %>" class="form-control"<% if (required) { %> required<% } %><% if (errorMessage) { %> data-msg-required="<%- errorMessage %>"<% } %> />
    </div>

<% } else if (fieldType === 'textarea') { %>
    <div class="">
        <label class="form-label" inline-edit="fieldLabel"<% if (!showLabel) { %> style="display:none" aria-hidden="true"<% } %>><%- fieldLabel %></label><% if (required && requiredIndicator && showLabel) { %><span class="bjs-field-required-indicator" style="display:inline-block;margin-left:7px;color:<%- requiredIndicatorColor %>;"><%- requiredIndicator %></span><% } %>
        <textarea name="<%- fieldName %>" placeholder="<%- fieldPlaceholder %>" class="form-control"<% if (required) { %> required<% } %><% if (errorMessage) { %> data-msg-required="<%- errorMessage %>"<% } %>><%- fieldValue %></textarea>
    </div>

<% } else if (fieldType === 'number') { %>
    <div class="">
        <label class="form-label" inline-edit="fieldLabel"<% if (!showLabel) { %> style="display:none" aria-hidden="true"<% } %>><%- fieldLabel %></label><% if (required && requiredIndicator && showLabel) { %><span class="bjs-field-required-indicator" style="display:inline-block;margin-left:7px;color:<%- requiredIndicatorColor %>;"><%- requiredIndicator %></span><% } %>
        <input type="number" name="<%- fieldName %>" value="<%- fieldValue %>" placeholder="<%- fieldPlaceholder %>" class="form-control"<% if (required) { %> required<% } %><% if (errorMessage) { %> data-msg-required="<%- errorMessage %>"<% } %> />
    </div>

<% } else if (fieldType === 'email') { %>
    <div class="">
        <label class="form-label" inline-edit="fieldLabel"<% if (!showLabel) { %> style="display:none" aria-hidden="true"<% } %>><%- fieldLabel %></label><% if (required && requiredIndicator && showLabel) { %><span class="bjs-field-required-indicator" style="display:inline-block;margin-left:7px;color:<%- requiredIndicatorColor %>;"><%- requiredIndicator %></span><% } %>
        <input type="email" name="<%- fieldName %>" value="<%- fieldValue %>" placeholder="<%- fieldPlaceholder %>" class="form-control"<% if (required) { %> required<% } %><% if (errorMessage) { %> data-msg-required="<%- errorMessage %>"<% } %><% if (emailErrorMessage) { %> data-msg-email="<%- emailErrorMessage %>"<% } %> />
    </div>

<% } else if (fieldType === 'date') { %>
    <div class="">
        <label class="form-label" inline-edit="fieldLabel"<% if (!showLabel) { %> style="display:none" aria-hidden="true"<% } %>><%- fieldLabel %></label><% if (required && requiredIndicator && showLabel) { %><span class="bjs-field-required-indicator" style="display:inline-block;margin-left:7px;color:<%- requiredIndicatorColor %>;"><%- requiredIndicator %></span><% } %>
        <input type="date" name="<%- fieldName %>" value="<%- fieldValue %>" class="form-control"<% if (required) { %> required<% } %><% if (errorMessage) { %> data-msg-required="<%- errorMessage %>"<% } %> />
    </div>

<% } else if (fieldType === 'datetime') { %>
    <div class="">
        <label class="form-label" inline-edit="fieldLabel"<% if (!showLabel) { %> style="display:none" aria-hidden="true"<% } %>><%- fieldLabel %></label><% if (required && requiredIndicator && showLabel) { %><span class="bjs-field-required-indicator" style="display:inline-block;margin-left:7px;color:<%- requiredIndicatorColor %>;"><%- requiredIndicator %></span><% } %>
        <input type="datetime-local" name="<%- fieldName %>" value="<%- fieldValue %>" class="form-control"<% if (required) { %> required<% } %><% if (errorMessage) { %> data-msg-required="<%- errorMessage %>"<% } %> />
    </div>

<% } else if (fieldType === 'dropdown') { %>
    <div class="">
        <label class="form-label" inline-edit="fieldLabel"<% if (!showLabel) { %> style="display:none" aria-hidden="true"<% } %>><%- fieldLabel %></label><% if (required && requiredIndicator && showLabel) { %><span class="bjs-field-required-indicator" style="display:inline-block;margin-left:7px;color:<%- requiredIndicatorColor %>;"><%- requiredIndicator %></span><% } %>
        <select name="<%- fieldName %>" class="form-select"<% if (required) { %> required<% } %><% if (errorMessage) { %> data-msg-required="<%- errorMessage %>"<% } %>>
            <% if (required && !fieldValue) { %>
                <option value=""><%- fieldPlaceholder %></option>
            <% } %>
            <% fieldOptions.forEach(function(opt) { %>
                <option value="<%- opt.value %>" <%= fieldValue == opt.value ? "selected" : "" %>><%- opt.text %></option>
            <% }); %>
        </select>
    </div>
<% } else if (fieldType === 'multiselect') { %>
    <div class="">
        <label class="form-label" inline-edit="fieldLabel"<% if (!showLabel) { %> style="display:none" aria-hidden="true"<% } %>><%- fieldLabel %></label><% if (required && requiredIndicator && showLabel) { %><span class="bjs-field-required-indicator" style="display:inline-block;margin-left:7px;color:<%- requiredIndicatorColor %>;"><%- requiredIndicator %></span><% } %>
        <select name="<%- fieldName %>" class="form-select" multiple<% if (required) { %> required<% } %><% if (errorMessage) { %> data-msg-required="<%- errorMessage %>"<% } %>>
            <% if (required && !fieldValue) { %>
                <option value=""><%- fieldPlaceholder %></option>
            <% } %>
            <% fieldOptions.forEach(function(opt) { %>
                <option value="<%- opt.value %>" <%= fieldValue == opt.value ? "selected" : "" %>><%- opt.text %></option>
            <% }); %>
        </select>
    </div>

<% } else if (fieldType === 'checkbox') { %>
    <div class="">
        <label class="form-label" inline-edit="fieldLabel"<% if (!showLabel) { %> style="display:none" aria-hidden="true"<% } %>><%- fieldLabel %></label><% if (required && requiredIndicator && showLabel) { %><span class="bjs-field-required-indicator" style="display:inline-block;margin-left:7px;color:<%- requiredIndicatorColor %>;"><%- requiredIndicator %></span><% } %>
        <% fieldOptions.forEach(function(opt, idx) { %>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="<%- fieldName %>[]" value="<%- opt.value %>" id="<%- fieldName %>_<%- opt.value %>" <%= (Array.isArray(fieldValue) && fieldValue.includes(opt.value)) ? "checked" : "" %><% if (required && idx === 0) { %> required<% } %><% if (errorMessage && idx === 0) { %> data-msg-required="<%- errorMessage %>"<% } %> />
                <label class="form-check-label" for="<%- fieldName %>_<%- opt.value %>"><%- opt.text %></label>
            </div>
        <% }); %>
    </div>

<% } else if (fieldType === 'radio') { %>
    <div class="">
        <label class="form-label" inline-edit="fieldLabel"<% if (!showLabel) { %> style="display:none" aria-hidden="true"<% } %>><%- fieldLabel %></label><% if (required && requiredIndicator && showLabel) { %><span class="bjs-field-required-indicator" style="display:inline-block;margin-left:7px;color:<%- requiredIndicatorColor %>;"><%- requiredIndicator %></span><% } %>
        <% fieldOptions.forEach(function(opt, idx) { %>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="<%- fieldName %>" value="<%- opt.value %>" id="<%- fieldName %>_<%- opt.value %>" <%= (fieldValue == opt.value) ? "checked" : "" %><% if (required && idx === 0) { %> required<% } %><% if (errorMessage && idx === 0) { %> data-msg-required="<%- errorMessage %>"<% } %> />
                <label class="form-check-label" for="<%- fieldName %>_<%- opt.value %>"><%- opt.text %></label>
            </div>
        <% }); %>
    </div>

<% } else { %>
    <div class="">
        <label class="form-label" inline-edit="fieldLabel"<% if (!showLabel) { %> style="display:none" aria-hidden="true"<% } %>><%- fieldLabel %></label><% if (required && requiredIndicator && showLabel) { %><span class="bjs-field-required-indicator" style="display:inline-block;margin-left:7px;color:<%- requiredIndicatorColor %>;"><%- requiredIndicator %></span><% } %>
        <input type="text" name="<%- fieldName %>" value="<%- fieldValue %>" placeholder="<%- fieldPlaceholder %>" class="form-control"<% if (required) { %> required<% } %><% if (errorMessage) { %> data-msg-required="<%- errorMessage %>"<% } %> />
    </div>
<% } %>
