<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/modules/Auth/tests" />
        <option value="$PROJECT_DIR$/modules/Menu/tests" />
        <option value="$PROJECT_DIR$/modules/Page/tests" />
        <option value="$PROJECT_DIR$/modules/Media/tests" />
        <option value="$PROJECT_DIR$/modules/Pulse/tests" />
        <option value="$PROJECT_DIR$/modules/Queue/tests" />
        <option value="$PROJECT_DIR$/modules/Mailer/tests" />
        <option value="$PROJECT_DIR$/modules/Modules/tests" />
        <option value="$PROJECT_DIR$/modules/Sitemap/tests" />
        <option value="$PROJECT_DIR$/modules/Activity/tests" />
        <option value="$PROJECT_DIR$/modules/Database/tests" />
        <option value="$PROJECT_DIR$/modules/Document/tests" />
        <option value="$PROJECT_DIR$/modules/Attention/tests" />
        <option value="$PROJECT_DIR$/modules/MailsSettings/tests" />
        <option value="$PROJECT_DIR$/modules/Inventory/tests" />
        <option value="$PROJECT_DIR$/modules/Chat/tests" />
        <option value="$PROJECT_DIR$/tests" />
        <option value="$PROJECT_DIR$/modules/Ads/tests" />
        <option value="$PROJECT_DIR$/modules/Seo/tests" />
        <option value="$PROJECT_DIR$/modules/Blog/tests" />
        <option value="$PROJECT_DIR$/modules/Core/tests" />
        <option value="$PROJECT_DIR$/modules/Faqs/tests" />
        <option value="$PROJECT_DIR$/modules/User/tests" />
        <option value="$PROJECT_DIR$/modules/Cache/tests" />
        <option value="$PROJECT_DIR$/modules/Forms/tests" />
        <option value="$PROJECT_DIR$/modules/Cookie/tests" />
        <option value="$PROJECT_DIR$/modules/Social/tests" />
        <option value="$PROJECT_DIR$/modules/Locales/tests" />
        <option value="$PROJECT_DIR$/modules/Reviews/tests" />
        <option value="$PROJECT_DIR$/modules/Campaign/tests" />
        <option value="$PROJECT_DIR$/modules/Helpdesk/tests" />
        <option value="$PROJECT_DIR$/modules/Optimize/tests" />
        <option value="$PROJECT_DIR$/modules/Template/Tests" />
        <option value="$PROJECT_DIR$/modules/Ecommerce/tests" />
        <option value="$PROJECT_DIR$/modules/Locations/tests" />
        <option value="$PROJECT_DIR$/modules/Engagement/tests" />
        <option value="$PROJECT_DIR$/modules/Newsletter/tests" />
        <option value="$PROJECT_DIR$/modules/Remarketing/tests" />
        <option value="$PROJECT_DIR$/modules/SimpleSlider/tests" />
        <option value="$PROJECT_DIR$/modules/HelpdeskAgents/tests" />
        <option value="$PROJECT_DIR$/modules/HelpdeskSocial/tests" />
        <option value="$PROJECT_DIR$/modules/HelpdeskTickets/tests" />
        <option value="$PROJECT_DIR$/modules/EcommercePayment/tests" />
        <option value="$PROJECT_DIR$/modules/HelpdeskLivechat/tests" />
        <option value="$PROJECT_DIR$/modules/HelpdeskCampaigns/tests" />
        <option value="$PROJECT_DIR$/modules/CampaignSendingServers/tests" />
      </list>
    </option>
  </component>
</project>